<main>
  <section class="intro">
      <div class="logo">
        <img src="../../../assets/img/hotdog.png" alt="dirty dogs">
      </div>
      <div class="slogan">
        <h1 class="title">Dirty Dogs serves all-beef, vegan and vegatagian hot dogs.</h1>
      </div>
      <div class="butn">
        <button>More Dogs ‘n Make Em Hot</button>
      </div>
    </section>

  <section class="gallery">

    <div class="row" *ngFor="let item of list">
      <div class="txt-container">
        <div class="text">
          <h2><span>&mdash;</span> {{item.name}}</h2>
          <p>{{item.description}}</p>
        </div>
      </div>
      <div class="img-container">
        <img [src]="item.backgroundURL" [alt]="item.name">
      </div>
    </div>

</section>

</main>